{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section id="action_div" class="container rounded shadow-lg p-3 my-5 rounded" style="max-width:35rem;">
		<div class="row h-100" style="max-width:35rem;">
			<div class="col-md-12 mx-auto">
            {% if form.errors %}
				<p class="px-2 text-danger">Please check your email. This Email doesn't exist in the database.</p>
			{% endif %}
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <input type="email" class="form-control mt-5" name="email" placeholder="E-mail address" autocomplete="email" required id="id_email"><br>
        <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}" />
    </form>
            </div>
        </div>
</section>
{% endblock %}
